@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>trackbone is a site to teach myself a range of new technologies.</p>

<div>
    <ul>
        <li>.Net Core</li>
        <li>ASP.Net Core</li>
        <li>MVC Core</li>
        <li>EF Core</li>
        <li>HTML5</li>
        <li>Bootstrap</li>
        <li>Javascript</li>
        <li>Azure DB</li>
        <li>I'm sure I'll think of and add more in due course...</li>
    </ul>
</div>
